<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TRMSWEBSITE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>Servlets.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reinbursment</display-name>
    <servlet-name>Reinbursment</servlet-name>
    <servlet-class>Servlets.Reinbursment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reinbursment</servlet-name>
    <url-pattern>/Reinbursment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reinbursments</display-name>
    <servlet-name>Reinbursments</servlet-name>
    <servlet-class>Servlets.Reinbursments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reinbursments</servlet-name>
    <url-pattern>/Reinbursments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignOut</display-name>
    <servlet-name>SignOut</servlet-name>
    <servlet-class>Servlets.SignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOut</servlet-name>
    <url-pattern>/SignOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reinhandle</display-name>
    <servlet-name>Reinhandle</servlet-name>
    <servlet-class>Servlets.Reinhandle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reinhandle</servlet-name>
    <url-pattern>/Reinhandle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reinhandler</display-name>
    <servlet-name>Reinhandler</servlet-name>
    <servlet-class>Servlets.Reinhandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reinhandler</servlet-name>
    <url-pattern>/Reinhandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpHandler</display-name>
    <servlet-name>SignUpHandler</servlet-name>
    <servlet-class>Servlets.SignUpHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpHandler</servlet-name>
    <url-pattern>/SignUpHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpFormHandler</display-name>
    <servlet-name>SignUpFormHandler</servlet-name>
    <servlet-class>Servlets.SignUpFormHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpFormHandler</servlet-name>
    <url-pattern>/SignUpFormHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveEmp</display-name>
    <servlet-name>ApproveEmp</servlet-name>
    <servlet-class>Servlets.ApproveEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveEmp</servlet-name>
    <url-pattern>/ApproveEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveEmps</display-name>
    <servlet-name>ApproveEmps</servlet-name>
    <servlet-class>Servlets.ApproveEmps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveEmps</servlet-name>
    <url-pattern>/ApproveEmps</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectEmps</display-name>
    <servlet-name>RejectEmps</servlet-name>
    <servlet-class>Servlets.RejectEmps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectEmps</servlet-name>
    <url-pattern>/RejectEmps</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveBenco</display-name>
    <servlet-name>ApproveBenco</servlet-name>
    <servlet-class>Servlets.ApproveBenco</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveBenco</servlet-name>
    <url-pattern>/ApproveBenco</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectionDirect</display-name>
    <servlet-name>RejectionDirect</servlet-name>
    <servlet-class>Servlets.RejectionDirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectionDirect</servlet-name>
    <url-pattern>/RejectionDirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Attach</display-name>
    <servlet-name>Attach</servlet-name>
    <servlet-class>Servlets.Attach</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Attach</servlet-name>
    <url-pattern>/Attach</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttachProcess</display-name>
    <servlet-name>AttachProcess</servlet-name>
    <servlet-class>Servlets.AttachProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttachProcess</servlet-name>
    <url-pattern>/AttachProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeCostBenco</display-name>
    <servlet-name>ChangeCostBenco</servlet-name>
    <servlet-class>Servlets.ChangeCostBenco</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeCostBenco</servlet-name>
    <url-pattern>/ChangeCostBenco</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BencoApproveExe</display-name>
    <servlet-name>BencoApproveExe</servlet-name>
    <servlet-class>Servlets.BencoApproveExe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BencoApproveExe</servlet-name>
    <url-pattern>/BencoApproveExe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeAcceptBenco</display-name>
    <servlet-name>EmployeeAcceptBenco</servlet-name>
    <servlet-class>Servlets.EmployeeAcceptBenco</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeAcceptBenco</servlet-name>
    <url-pattern>/EmployeeAcceptBenco</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeRejectBenco</display-name>
    <servlet-name>EmployeeRejectBenco</servlet-name>
    <servlet-class>Servlets.EmployeeRejectBenco</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeRejectBenco</servlet-name>
    <url-pattern>/EmployeeRejectBenco</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayMessages</display-name>
    <servlet-name>DisplayMessages</servlet-name>
    <servlet-class>Servlets.DisplayMessages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayMessages</servlet-name>
    <url-pattern>/DisplayMessages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestMoreInfo</display-name>
    <servlet-name>RequestMoreInfo</servlet-name>
    <servlet-class>Servlets.RequestMoreInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestMoreInfo</servlet-name>
    <url-pattern>/RequestMoreInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDirect</display-name>
    <servlet-name>RequestDirect</servlet-name>
    <servlet-class>Servlets.RequestDirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDirect</servlet-name>
    <url-pattern>/RequestDirect</url-pattern>
  </servlet-mapping>
</web-app>