<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TuitionApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.revature.servlets.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>com.revature.servlets.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicationServlet</display-name>
    <servlet-name>ApplicationServlet</servlet-name>
    <servlet-class>com.revature.servlets.ApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationServlet</servlet-name>
    <url-pattern>/ApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Approvals</display-name>
    <servlet-name>Approvals</servlet-name>
    <servlet-class>com.revature.servlets.Approvals</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Approvals</servlet-name>
    <url-pattern>/Approvals</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackToAppStatus</display-name>
    <servlet-name>BackToAppStatus</servlet-name>
    <servlet-class>com.revature.servlets.BackToAppStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackToAppStatus</servlet-name>
    <url-pattern>/BackToAppStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Grading</display-name>
    <servlet-name>Grading</servlet-name>
    <servlet-class>com.revature.servlets.Grading</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Grading</servlet-name>
    <url-pattern>/Grading</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reimbursement</display-name>
    <servlet-name>Reimbursement</servlet-name>
    <servlet-class>com.revature.servlets.Reimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reimbursement</servlet-name>
    <url-pattern>/Reimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToApprove</display-name>
    <servlet-name>ToApprove</servlet-name>
    <servlet-class>com.revature.servlets.ToApprove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToApprove</servlet-name>
    <url-pattern>/ToApprove</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackToPending</display-name>
    <servlet-name>BackToPending</servlet-name>
    <servlet-class>com.revature.servlets.BackToPending</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackToPending</servlet-name>
    <url-pattern>/BackToPending</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUpload</display-name>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>com.revature.servlets.FileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/FileUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToFile</display-name>
    <servlet-name>ToFile</servlet-name>
    <servlet-class>com.revature.servlets.ToFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToFile</servlet-name>
    <url-pattern>/ToFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbAsManager</display-name>
    <servlet-name>ReimbAsManager</servlet-name>
    <servlet-class>com.revature.servlets.ReimbAsManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbAsManager</servlet-name>
    <url-pattern>/ReimbAsManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewFiles</display-name>
    <servlet-name>ViewFiles</servlet-name>
    <servlet-class>com.revature.servlets.ViewFiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewFiles</servlet-name>
    <url-pattern>/ViewFiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GradeFileUpload</display-name>
    <servlet-name>GradeFileUpload</servlet-name>
    <servlet-class>com.revature.servlets.GradeFileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeFileUpload</servlet-name>
    <url-pattern>/GradeFileUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deny</display-name>
    <servlet-name>Deny</servlet-name>
    <servlet-class>com.revature.servlets.Deny</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deny</servlet-name>
    <url-pattern>/Deny</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cancel</display-name>
    <servlet-name>Cancel</servlet-name>
    <servlet-class>com.revature.servlets.Cancel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cancel</servlet-name>
    <url-pattern>/Cancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Award</display-name>
    <servlet-name>Award</servlet-name>
    <servlet-class>com.revature.servlets.Award</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Award</servlet-name>
    <url-pattern>/Award</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeRe</display-name>
    <servlet-name>changeRe</servlet-name>
    <servlet-class>com.revature.servlets.changeRe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeRe</servlet-name>
    <url-pattern>/changeRe</url-pattern>
  </servlet-mapping>
</web-app>