

body
{
    background: url("http://hd-wall-papers.com/images/wallpapers/website-background/website-background-15.jpg");
    background-size: 100% ;
    background-repeat: no-repeat;
    color: black;
    font-weight: 900;
    
}

.jumbotron
{
	
	background: url("http://hd-wall-papers.com/images/wallpapers/website-background/website-background-15.jpg");
    background-size: 100% ; 
    background-repeat: no-repeat;
    color: black;
    font-weight: 900;
	
}
