<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyDynamicProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>ApplicationWide</param-name>
    <param-value>ApplicationWideValue</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ExampleServlet</display-name>
    <servlet-name>ExampleServlet</servlet-name>
    <servlet-class>servlets.ExampleServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExampleServlet</servlet-name>
    <url-pattern>/ExampleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExampleServlet2</display-name>
    <servlet-name>ExampleServlet2</servlet-name>
    <servlet-class>servlets.ExampleServlet2</servlet-class>
    <init-param>
      <param-name>InitialName</param-name>
      <param-value>InitialValue</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExampleServlet2</servlet-name>
    <url-pattern>/ExampleServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionHandler</display-name>
    <servlet-name>SessionHandler</servlet-name>
    <servlet-class>servlets.SessionHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionHandler</servlet-name>
    <url-pattern>/SessionHandler</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ExampleFilter</display-name>
    <filter-name>ExampleFilter</filter-name>
    <filter-class>filters.ExampleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ExampleFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DefaultServlet</display-name>
    <servlet-name>DefaultServlet</servlet-name>
    <servlet-class>servlet.DefaultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DefaultServlet</servlet-name>
    <url-pattern>/DefaultServlet</url-pattern>
  </servlet-mapping>
  <error-page>
  	<error-code>404</error-code>
  	<location>/CustomNotFound.html</location>
  </error-page>
</web-app>