<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.password">revature</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@oracle-bear.clqfkdmbotjv.us-east-1.rds.amazonaws.com:1521:ORCL</property>
        <property name="hibernate.connection.username">jurczakn</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        
        <!-- <mapping resource="person.hbm.xml"/>     -->    
        <mapping class="beans.HoneyPot"/>
        <mapping class="beans.Cave" />
        <mapping class="beans.Bear" />
        
<!--         <mapping class="cc.multivision.entity.Person"/>
 -->
    </session-factory>
</hibernate-configuration>