<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>project3TRMS</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateForm</display-name>
    <servlet-name>updateForm</servlet-name>
    <servlet-class>Servlets.updateForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateForm</servlet-name>
    <url-pattern>/updateForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppFormServlet</display-name>
    <servlet-name>AppFormServlet</servlet-name>
    <servlet-class>Servlets.AppFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppFormServlet</servlet-name>
    <url-pattern>/AppFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageServlet</display-name>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>Servlets.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/MessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApprovalServlet</display-name>
    <servlet-name>ApprovalServlet</servlet-name>
    <servlet-class>Servlets.ApprovalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovalServlet</servlet-name>
    <url-pattern>/ApprovalServlet</url-pattern>
  </servlet-mapping>
</web-app>