<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>TRMS</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>ListReimbursements</servlet-name>
		<servlet-class>servlet.reimbursement.ListReimbursements</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListReimbursements</servlet-name>
		<url-pattern>/Reimbursement</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditReimbursement</servlet-name>
		<servlet-class>servlet.reimbursement.EditReimbursement</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditReimbursement</servlet-name>
		<url-pattern>/EditReimbursement</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>servlet.user.LoginUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterUser</servlet-name>
		<servlet-class>servlet.user.RegisterUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterUser</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NewReimbursement</servlet-name>
		<servlet-class>servlet.reimbursement.NewReimbursement</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewReimbursement</servlet-name>
		<url-pattern>/NewReimbursement</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListPendingReimbursements</servlet-name>
		<servlet-class>servlet.reimbursement.ListPendingReimbursements</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListPendingReimbursements</servlet-name>
		<url-pattern>/ListPendingReimbursements</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NewFeedback</servlet-name>
		<servlet-class>servlet.feedback.NewFeedback</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewFeedback</servlet-name>
		<url-pattern>/NewFeedback</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AttachmentServlet</servlet-name>
		<servlet-class>servlet.attachment.AttachmentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AttachmentServlet</servlet-name>
		<url-pattern>/Attachment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginUser</servlet-name>
		<servlet-class>servlet.user.LoginUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutUser</servlet-name>
		<servlet-class>servlet.user.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutUser</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>

</web-app>