<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TRMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.trms.loginserv.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>com.trms.signupserv.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reimbursement</display-name>
    <servlet-name>Reimbursement</servlet-name>
    <servlet-class>com.trms.reimbursementserv.Reimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reimbursement</servlet-name>
    <url-pattern>/Reimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GeneratePending</display-name>
    <servlet-name>GeneratePending</servlet-name>
    <servlet-class>com.trms.pending.GeneratePending</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneratePending</servlet-name>
    <url-pattern>/GeneratePending</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStatus</display-name>
    <servlet-name>UpdateStatus</servlet-name>
    <servlet-class>com.trms.updatestatus.UpdateStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStatus</servlet-name>
    <url-pattern>/UpdateStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddInfoMessage</display-name>
    <servlet-name>AddInfoMessage</servlet-name>
    <servlet-class>com.trms.addinfomessage.AddInfoMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInfoMessage</servlet-name>
    <url-pattern>/AddInfoMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateAttachFiles</display-name>
    <servlet-name>GenerateAttachFiles</servlet-name>
    <servlet-class>com.trms.attachfiles.GenerateAttachFiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateAttachFiles</servlet-name>
    <url-pattern>/GenerateAttachFiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdditionalFiles</display-name>
    <servlet-name>AdditionalFiles</servlet-name>
    <servlet-class>com.trms.additionalfiles.AdditionalFiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdditionalFiles</servlet-name>
    <url-pattern>/AdditionalFiles</url-pattern>
  </servlet-mapping>
</web-app>