<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DynamicProject2</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>Login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NewServlet</display-name>
    <servlet-name>NewServlet</servlet-name>
    <servlet-class>Servlets.NewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewServlet</servlet-name>
    <url-pattern>/NewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertReimServlet</display-name>
    <servlet-name>InsertReimServlet</servlet-name>
    <servlet-class>Servlets.InsertReimServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertReimServlet</servlet-name>
    <url-pattern>/InsertReimServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionHandler</display-name>
    <servlet-name>SessionHandler</servlet-name>
    <servlet-class>Servlets.SessionHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionHandler</servlet-name>
    <url-pattern>/SessionHandler</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ExampleFilter</display-name>
    <filter-name>ExampleFilter</filter-name>
    <filter-class>Filters.ExampleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ExampleFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>InsertReimServet</display-name>
    <servlet-name>InsertReimServet</servlet-name>
    <servlet-class>Servlets.InsertReimServet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertReimServet</servlet-name>
    <url-pattern>/InsertReimServet</url-pattern>
  </servlet-mapping>
</web-app>