<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TuitionReimbursement</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>RoutingFilter</display-name>
    <filter-name>RoutingFilter</filter-name>
    <filter-class>filters.RoutingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RoutingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SessionHandler2</display-name>
    <servlet-name>SessionHandler2</servlet-name>
    <servlet-class>servlets.SessionHandler2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionHandler2</servlet-name>
    <url-pattern>/SessionHandler2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateReimbursement</display-name>
    <servlet-name>CreateReimbursement</servlet-name>
    <servlet-class>servlets.CreateReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateReimbursement</servlet-name>
    <url-pattern>/CreateReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitReimbursement</display-name>
    <servlet-name>SubmitReimbursement</servlet-name>
    <servlet-class>servlets.SubmitReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitReimbursement</servlet-name>
    <url-pattern>/SubmitReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageServlet</display-name>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>servlets.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/MessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursementsServlet</display-name>
    <servlet-name>ReimbursementsServlet</servlet-name>
    <servlet-class>servlets.ReimbursementsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementsServlet</servlet-name>
    <url-pattern>/ReimbursementsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditReimbursementServlet</display-name>
    <servlet-name>EditReimbursementServlet</servlet-name>
    <servlet-class>servlets.EditReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditReimbursementServlet</servlet-name>
    <url-pattern>/EditReimbursementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitEditServlet</display-name>
    <servlet-name>SubmitEditServlet</servlet-name>
    <servlet-class>servlets.SubmitEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitEditServlet</servlet-name>
    <url-pattern>/SubmitEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PendingReimbursementsServlet</display-name>
    <servlet-name>PendingReimbursementsServlet</servlet-name>
    <servlet-class>servlets.PendingReimbursementsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingReimbursementsServlet</servlet-name>
    <url-pattern>/PendingReimbursementsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveReimbursementServlet</display-name>
    <servlet-name>ApproveReimbursementServlet</servlet-name>
    <servlet-class>servlets.ApproveReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveReimbursementServlet</servlet-name>
    <url-pattern>/ApproveReimbursementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmApproveServlet</display-name>
    <servlet-name>ConfirmApproveServlet</servlet-name>
    <servlet-class>servlets.ConfirmApproveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmApproveServlet</servlet-name>
    <url-pattern>/ConfirmApproveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMessageServlet</display-name>
    <servlet-name>SendMessageServlet</servlet-name>
    <servlet-class>servlets.SendMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessageServlet</servlet-name>
    <url-pattern>/SendMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetApprovedReimbursements</display-name>
    <servlet-name>GetApprovedReimbursements</servlet-name>
    <servlet-class>servlets.GetApprovedReimbursements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetApprovedReimbursements</servlet-name>
    <url-pattern>/GetApprovedReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGrade</display-name>
    <servlet-name>AddGrade</servlet-name>
    <servlet-class>servlets.AddGrade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGrade</servlet-name>
    <url-pattern>/AddGrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitGrade</display-name>
    <servlet-name>SubmitGrade</servlet-name>
    <servlet-class>servlets.SubmitGrade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitGrade</servlet-name>
    <url-pattern>/SubmitGrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDeclinedReimbursements</display-name>
    <servlet-name>GetDeclinedReimbursements</servlet-name>
    <servlet-class>servlets.GetDeclinedReimbursements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDeclinedReimbursements</servlet-name>
    <url-pattern>/GetDeclinedReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DenialReason</display-name>
    <servlet-name>DenialReason</servlet-name>
    <servlet-class>servlets.DenialReason</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DenialReason</servlet-name>
    <url-pattern>/DenialReason</url-pattern>
  </servlet-mapping>
</web-app>