<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TRMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>ApplicationWideName</param-name>
    <param-value>ApplicationWideValue</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlet.LoginServlet</servlet-class>
    <init-param>
      <param-name>InitialName</param-name>
      <param-value>InitialValue</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionHandler</display-name>
    <servlet-name>SessionHandler</servlet-name>
    <servlet-class>com.revature.servlet.SessionHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionHandler</servlet-name>
    <url-pattern>/SessionHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MakeReimServlet</display-name>
    <servlet-name>MakeReimServlet</servlet-name>
    <servlet-class>com.revature.servlet.MakeReimServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeReimServlet</servlet-name>
    <url-pattern>/MakeReimServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyReimServlet</display-name>
    <servlet-name>MyReimServlet</servlet-name>
    <servlet-class>com.revature.servlet.MyReimServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyReimServlet</servlet-name>
    <url-pattern>/MyReimServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPendingServlet</display-name>
    <servlet-name>ViewPendingServlet</servlet-name>
    <servlet-class>com.revature.servlet.ViewPendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPendingServlet</servlet-name>
    <url-pattern>/ViewPendingServlet</url-pattern>
  </servlet-mapping>
   <filter>
    <display-name>TestFilter</display-name>
    <filter-name>TestFilter</filter-name>
    <filter-class>com.revature.filter.TestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TestFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
</web-app>